**/*.swp
/*.html
/*.xml
.rspec_parallel
.idea
.yardoc
/kinit
/nsupdate
/payload
/app
/platform/dev*
Vagrantfile
/.vagrant
/logs
/doc
/test.rb
/test/env-win.ps1
/test/env-arrian
/coverage
/target
/tmp
\~/file-which-does-not-exits
**/*.log
nsupdate
net
kinit
cfn-signal.exe
setx
cfn-get-metadata
.vscode
.DS_Store
.npm
.gitcommitid
vendor/
build/
/pipeline.iml
