{
    "environments": {
        "prod": {
            "appenders": {
                "default_stdout": {
                    "type": "default_output",
                    "enable": true
                },

                "default_file_output": {
                    "type": "file_output",
                    "enable": true
                },

                "splunk": {
                    "type": "splunk",
                    "enable": true
                },

                "snow": {
                   "type": "snow",
                   "enable": true
                } 
            }
        },
        "dev": {
            "appenders": {
                "default_stdout": {
                    "type": "tokenized_color_output",
                    "config": {
                        "enable": true,
                        "color_map": {
                            "method": {
                                "debug": 36,
                                "info": 32
                            }
                        },
                        "tokens": {
                            "restrict": [
                                
                            ]
                        },
                        "formatters": [
                            { "type": "method", "value": "debug", "format": "   {0}" }
                        ]
                    }
                },

                "default_file_output": {
                    "type": "file_output",
                    "config": { 
                        "enable": true
                    }
                },

                "latest_file_output": {
                    "type": "file_output",
                    "config": { 
                        "enable": true,
                        "log_file_name": "_pipeline-latest.log"
                    }
                },

                "snow": {
                    "type": "snow",
                    "config": { 
                        "enable": true
                    }
                }
            }
        }
    }
}